* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Livvic", sans-serif;
}

main {
  background-color: #004047;
  height: 745px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.container {
  max-width: 1110px;
  position: relative;
}

main h1 {
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1em;
}

main h1,
main h4,
main p,
.director-description p {
  color: #ffffff;
}

.main-3-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* 
.main-heading {
    max-width: 932px;
} */

.quotes-pattern {
  background-image: url(images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.avatar {
  max-width: 62px;
  border-radius: 50%;
  border: 2px solid #c4fffe;
}

.main-description-block .avatar {
  margin-top: 32px;
}

.main-description-block p {
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 25px;
  padding-top: 3em;
  /* background-attachment: fixed; */
}

.name-position h4,
.director-description h4 {
  color: #79c8c7;
  font-weight: 700;
  margin-bottom: 2px;
}

.name-position p {
  padding: 0;
}

.name-position {
  margin-top: 1.2em;
}

.name-position p,
.director-description p {
  font-style: italic;
  font-weight: 500;
  font-size: 0.8125rem;
  margin-top: 0;
}

.color-ligthblue {
  color: #79c8c7;
}

.pattern-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 200px;
}

.pattern-top-left {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 147px;
}

.meet-the-directors {
  background-color: #004047;
  height: 1002px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.meet-the-directors h1,
main h4,
main p,
.name-position p {
  color: #ffffff;
  margin: 0;
}

.meet-the-directors h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.33334em;
}

.directors-three-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.director-description {
  background-color: #012f34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vmax;
  max-width: 350px;
  height: 30vmax;
  max-height: 253px;
  position: relative;
}

.directors-six-blocks {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 76px;
}

.meet-the-directors-btn {
  position: absolute;
  background-color: #f67e7e;
  padding: 0.25em 0.5751em;
  border-radius: 50%;
  border: none;
  color: #012f34;
  font-family: "Livvic", sans-serif;
  font-size: 2rem;
  cursor: pointer;
  bottom: -28px;
  font-weight: 600;
}

.meet-the-directors-btn span {
  position: relative;
  top: -3.5px;
}

.pattern-half {
  max-width: 200px;
  left: -100px;
}

.director-description .avatar {
  max-width: 96px;
}

/* HEADER ___________________________ */

header {
  background-color: #014E56;
  height: 700px;
  position: relative;
  padding: 0 2em;
}

.hero-container {
  max-width: 1080px;
  margin: 0 auto;
}

.logo {
  max-width: 160px;
  margin-right: 2.1em;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.1em;
}

.nav-logo-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a , .hero-description-line p{
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 28px;
}

.contact-btn {
  border: 2px solid #FFFFFF ;
  border-radius: 24px;
  padding: 0.5em 1.5em;
}

.hero-h1-flex {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 6.95em;
  gap: 30px;
}

header h1 {
  font-size: 6.25rem;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
  padding-right: 1em;
}

.hero-description-line {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}

.line {
  background-color: #79C8C7;
  height: 4px;
  width: 50px;
}

.pink-color {
  color: #F67E7E;
}

.pattern-mid-left {
  position: relative;
  bottom: 330px;
  left: -100px;
  max-width: 200px;
}

.pattern-container-end {
  position: relative;
  left: 730px;
  top: 120px;
}

/* ABOUT HEADER */

.header-about {
  height: 513px;
}

.header-about h1, .contact h2 {
  color: #FFFFFF;
  font-size: 3.2rem;
  margin-right: 2.5em;
}

.about-line {
  background-color: #F67E7E;
}

.m-2em {
  margin-top: 40px;
}

.half-pattern {
  right: -100px;
}

/* CONTACT HERO */

.hero-header-height {
  height: 789px;
  position: relative;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 6em;
}

.contact h2 {
  margin: 0;
}

.contact-section h3 {
  color: #F67E7E;
  font-size: 2rem;
  font-weight: 700;
  margin: 32px 0;

}

.contact-logo-description {
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
}

.contact-logo-description p {
  color: #FFFFFF;
  margin-left: 23px;
}

form input, form textarea {
  background-color: inherit;
  border: none;
  border-bottom: #FFFFFF 1px solid;
  width: 100%;
  padding: 0 16px 24px 0;
  color: #FFFFFF;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0.8em;
}

.submit-btn {
  background: #FFFFFF;
  border: none;
  border-radius: 24px;
  font-family: inherit;
  padding: 0.5em 1.6em;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1.2em;
  cursor: pointer;
}

::placeholder {
  color: #FFFFFF;
  font-family: "Livvic", sans-serif;
  opacity: 60%;
  font-weight: 600;
  font-size: 0.9375rem;
}

.contact-pattern-1 {
  background-image: url(images/bg-pattern-about-2-contact-1.svg);
  background-repeat: no-repeat;
  background-position-x: -100px;
  background-position-y: center;
}

.right-half {
  right: -100px;
}

/* FOOTER */

footer {
  height: 196px;
  background-color: #002529;
  color: #FFFFFF;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 196px;
  max-width: 1120px;
}

.logo-address-flex {
  display: flex;
  align-items: center;
  max-width: 600px;
  gap: 125px;
}

/* .footer-logo-links {
  max-width: 160px;
} */

/* footer .logo img{
  max-width: 160px;
  margin: 0;
} */

.footer-logo-flex {
  padding-right: 100px;
}

.footer-logo-flex img {
  width: 160px;
}

.logo-address-flex a{
  color: #FFFFFF;
  text-decoration: none;
}

.p-24 {
  margin-top: 24px;
}

.m-r-40 {
  margin-right: 2em;
}

.footer-address {
  font-weight: 600;
  font-size: 0.9375em;
  opacity: 0.6;
  line-height: 25px;
}

.social-media-copyright {
  text-align: end;
}

.m-16 {
  margin: 0.8em;
}

.social-media-logos {
  margin-bottom: 51px;
}

/* SOME OF OUR CLIENTS */

.clients {
  height: 437px;
  background-color: #012F34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients h2 {
  margin: 0;
}

.company-logos {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  align-items: center;
  gap: 70px;
}

.company-logos img {
  width: 100%;
  max-width: 165px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #79C8C7;
}

::-webkit-scrollbar-thumb {
  background-color: #012F34;
  border-radius: 100vw;
  border: 0.15em solid #79C8C7;
}